* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main div {
  background-image: url(./assets/bild2.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

div p {
  font-size: 40px;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  margin: auto;
  width: 23vw;
  text-align: center;
  padding: 25px;
}
