section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 2rem;
}

p {
  font-size: 2rem;
  text-align: left;
}

button {
  text-align: center;
  width: 10vw;
  margin: auto;
  margin-bottom: 2vh;
}
