.movie-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15vw;
  background-color: rgb(65, 65, 65);
  border-radius: 2rem;
  padding: 1vw 1vw;
  height: 45vh;
}

.genre {
  text-align: center;
}

.bg {
  background-color: rgb(39, 39, 39);
  width: 10vw;
  border-radius: 2rem;
  margin-bottom: 1vh;
}
