* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter;
}

@font-face {
  font-family: Inter;
  src: url(./Inter-Regular.ttf);
}

.content-box {
  position: absolute;
  background-color: #1b1b1b;
  width: 30vw;
  padding: 1vw 1vw 1vw 1vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 2rem;
  border: 3px solid #fe0943;
  box-shadow: 0px 0px 10px #0f0f0f;
}

h2 {
  font-size: 1.5rem;
  color: #fe0943;
  margin-bottom: 1vh;
}

h3 {
  font-size: 2rem;
  color: #fe0943;
}

h4 {
  margin-bottom: 1vh;
}

.content-one {
  background-color: #0f0f0f;
  margin-bottom: 1vh;
  border-radius: 1rem;
  padding: 1vw 1vw 1vw 1vw;
}
.content-two {
  background-color: #0f0f0f;
  margin-bottom: 1vh;
  border-radius: 1rem;
  padding: 1vw 1vw 1vw 1vw;
}
.content-three {
  background-color: #0f0f0f;
  margin-bottom: 1vh;
  border-radius: 1rem;
  color: #fe0943;
  padding: 1vw 1vw 1vw 1vw;
  font-size: 1.1rem;
  font-weight: 800;
}
.content-four {
  background-color: #0f0f0f;
  margin-bottom: 1vh;
  border-radius: 1rem;
  padding: 1vw 1vw 1vw 1vw;
}
.content-five {
  background-color: #0f0f0f;
  margin-bottom: 1vh;
  border-radius: 1rem;
  padding: 1vw 1vw 1vw 1vw;
}
.content-six {
  background-color: #0f0f0f;
  border-radius: 1rem;
  padding: 1vw 1vw 1vw 1vw;
}

label {
  font-size: 1.1rem;
  margin-left: 0.5vw;
  font-weight: 400;
}

.content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

#btn {
  background-color: #fe0943;
  width: 30vw;
  height: 4vh;
  border: none;
  text-align: center;
  border-radius: 0.5rem;
}

#input {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  height: 3vh;
  width: 15vw;
  border-bottom: 3px solid #fe0943;
  color: white;
  text-align: center;
}

#input:focus-visible {
  outline: none;
}

#result-value {
  color: #fe0943;
}
#mwst-betrag {
  color: #fe0943;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
