.view-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  background-color: rgb(36, 36, 36);
  padding: 2vw 2vw;
}

.view-img {
  width: 350px;
  height: 350px;
  border: 3px solid rgb(0, 102, 255);
  margin-bottom: 2vh;
}

.view-title {
  color: rgb(0, 102, 255);
  font-size: 2rem;
  text-align: center;
  width: 35vw;
}

.view-desc {
  font-size: 1.2rem;
  text-align: center;
  width: 35vw;
}

.view-price {
  color: rgb(0, 102, 255);
  font-size: 3rem;
  font-weight: 600;
}
