p {
  display: inline-block;
  background-color: turquoise;
  width: 500px;
  height: 120px;
  text-align: center;
  box-sizing: border-box;
  border: solid black 5px;
  padding: 20px;
  margin: 20px;
}

main section {
  box-sizing: content-box;
  width: 550px;
  height: 160px;
  text-align: center;
  border: solid black 2px;
  padding: px;
}
